@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
    position: relative; /* Added */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(78, 237, 4), rgba(0, 0, 0, 0.738));
    clip-path: circle(30% at right 70%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00000017, #64ff04);
    clip-path: circle(20% at 5% 10%);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    flex-wrap: wrap;
    z-index: 1;
}

.about-img {
    padding: 1px;
    transform: translateX(1%);
    animation: about-img-animation 1s ease-in-out forwards;
}

.container .card {
    position: relative;
    width: 100%;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(100, 229, 8, 0.347);
    border-radius: 15px;
    background: rgb(54, 53, 53);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(112, 231, 21, 0);
    border-left: 1px solid rgba(123, 243, 32, 0);
    backdrop-filter: blur(5px);
}

.container .card .content {
    padding: 60px;
    text-align: center;
    transition: 0.5s;
}

.container .card .content h2 {
    font-size: 2em;
    color: rgba(98, 225, 29, 0.898);
    pointer-events: none;
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    -ms-user-select: none;
    user-select: none;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgba(92, 244, 10, 0.665);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.container .card .content a:hover {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgba(40, 250, 29, 0.589);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    transition: 1s ease;
}

.container-header {
    color: rgb(255, 255, 255);
    font-size: 23px;
}

.container .card .content button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgba(251, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.mark {
    background-color: rgba(255, 255, 255, 0); /* Set transparent background */
    border: none; /* Remove default border */
    padding: 8px; /* Adjust padding */
    width: 90%; /* Adjust width */
    height: 5vh; /* Adjust height */
    border-radius: 0px; /* Apply border radius */
    text-align: center; /* Center text */
    margin-top: 10px; /* Adjust margin */
    box-shadow: 1px 2px 3px 2px rgb(227, 227, 227); /* Apply box shadow */
    margin-bottom: 10px; /* Adjust margin */
}

/* Add this CSS rule to make input text color white */
input[type="text"] {
    color: white;
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    -ms-user-select: none;
    user-select: none;
    font-size: larger;
    font-weight:bold;
}
